<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ section.title }}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/template_mobile.css' %}">
</head>
<body>
<nav id="navigation">
    <ul>
        <li class="title"><h1><a href="{% url 'index' %}">Rezervační systém učeben</a></h1></li>
        <li class="menu-item"><a href="{% url 'index' %}">Veřejné místnosti</a></li>
        <li class="menu-item"><a href="{% url 'reservation_create' %}">Nová rezervace</a></li>
        <li class="menu-item"><a href="{% url 'my_reservations_list' %}">Moje rezervace</a></li>
        {% if user.is_authenticated %}
        <li class="menu-item login"><span class="welcome">Vitejte zpět {{ user.person.name }},</span> <a
                href="{% url 'logout' %}">Odhlásit</a></li>
        {% else %}
        <li class="menu-item login"><a href="{% url 'login' %}">Přihlásit</a></li>
        {% endif %}
    </ul>
</nav>

<main class="container">
    <section class="page-container">
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </section>
</main>

<footer>
    <hr/>
    <p>&copy; DFK 2021</p>
    {% if user.is_superuser or perms.reservations.is_room_manager or perms.reservations.is_group_manager %}
    <a href="{% url 'admin_dashboard' %}">Administrace</a>
    {% endif %}
</footer>
</body>
</html>
