<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ section.title }}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/template_mobile.css' %}">
</head>
<body>
<nav id="navigation">
    <ul>
        <li class="title"><h1><a href="{% url 'index' %}">Rezervační systém učeben</a></h1></li>
        <li class="menu-item"><a href="{% url 'reservation_create' %}">Nová rezervace</a></li>
        <li class="menu-item"><a href="#!">Moje rezervace</a></li>
        <li class="menu-item login"><a href="#!">Přihlášení</a></li>
    </ul>
</nav>

<main class="container">
    <section class="page-container">
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </section>
</main>

<footer>
    <hr/>
    <p>&copy; DFK 2021</p>
    <!-- TODO: ADMIN ONLY -->
    <a href="{% url 'admin_person_list' %}">Administrace</a>
</footer>
</body>
</html>
