{% extends 'base.html' %}

{% block scripts %}
{% load static %}
<script src="{% static 'assets/js/user-hover-profile.js' %}"></script>
<script>
    jQuery(document).ready(function () {
        let hoverProfile = new UserHoverProfile();
    });
</script>
{% endblock %}

{% block content  %}
<header>
    <h2>Harmonogram mísnosti {{ room.building.name }}:{{ room.name }}</h2>
</header>

<section>
    <div class="errors">
        {% if errors %}
        {% for error in errors %}
        <p> {{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    {% if reservations %}
    <table class="list persons">
        <thead>
        <tr>
            <th>Vlastník</th>
            <th>Obsazeno od</th>
            <th>Obsazeno do</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>
                <div class="tooltip person-profile" data-id="{{reservation.owner.id}}">
                    <span>{{reservation.owner.user.username}}</span>
                    <div class="tooltiptext">
                        <div class="title"></div>
                        <ul class="properties"></ul>
                    </div>
                </div>
            </td>
            <td>{{reservation.dt_from|date:"d.m.Y H:m:s"}}</td>
            <td>{{reservation.dt_to|date:"d.m.Y H:m:s"}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "layouts/pagination.html" with items=rooms %}

    {% else %}
    <p>Harmonogram místnosti je prázdný</p>
    {% endif %}
</section>

{% endblock %}
