{% extends 'administrator/base.html' %}

{% block scripts %}
{% load static %}
<script src="{% static 'assets/js/multiselect.js' %}"></script>
<script>
    let attendess = new Multiselect("id_attendees", 'Zvolte uživatele');
</script>
{% endblock%}

{% block content  %}
<header>
    <h2>Rezervace místnosti</h2>
</header>

<section>
    <form method="POST" class="model-form reservation-form" enctype="multipart/form-data">
        {% include "layouts/form-errors.html" with errors=errors %}

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <input class="button green submit" type="submit" value="Odeslat">
    </form>
</section>
{% endblock %}
