{% extends 'administrator/base.html' %}

{% block content  %}
    {% if errors %}
        {% for error in errors %}
            <p> {{ error }}</p>
        {% endfor %}
    {% endif %}
    {% if reservations %}
        <ul>
            {% for reservation in reservations %}
                <ul>
                    {% for reservation_status in reservation.reservation_status.all %}
                        <a>reservation_status.status</a>
                    {% endfor %}
                </ul>
                <li></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Zadne nejsou k dispozici</p>
    {% endif %}
    {% include "layouts/pagination.html" with items=persons %}
{% endblock %}
