{% extends 'administrator/base.html' %}

{% block scripts %}
<script>
    jQuery(document).ready(function () {
        jQuery('#id_attendees').multiselect({
            columns: 1,
            search: true,
            placeholder: 'Zvolte uživatele',
        });
    });
</script>
{% endblock%}

{% block content  %}
<header>
    <h2>Uprava rezervace</h2>
</header>

<section>
    <form method="POST" class="model-form reservation-form" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <input class="button green submit" type="submit" value="Odeslat">
    </form>
</section>
{% endblock %}
