{% extends 'base.html' %}

{% block content  %}
<nav id="toolbar">
    <ul>
        <li><a class="button green" href="{% url 'group_create' %}">Přidat skupinu</a></li>
    </ul>
</nav>

<header>
    <h2>Uživatelské skupiny</h2>
</header>

<section>
    <div class="errors">
        {% if errors %}
        {% for error in errors %}
        <p> {{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    {% if groups %}
    <table class="list persons">
        <thead>
        <tr>
            <th>#</th>
            <th>Název</th>
            <th>Nadřízená skupina</th>
            <th>Správce</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td><a class="id" href="{% url 'group_view' group_id=group.id %}">{{group.id}}</a></td>
            <td>{{group.name}}</td>
            <td>{{group.subgroup}}</td>
            <td><a href="{% url 'person_view' person_id=group.manager.id %}">{{group.manager.name}}
                {{group.manager.surname}}</a></td>
            <!-- Todo: Show actions only for administrator -->
            <td>
                <a class="button green" href="{% url 'group_update' group_id=group.id %}">Upravit</a>
                <a class="button red" href="{% url 'group_delete' group_id=group.id %}">Smazat</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "layouts/pagination.html" with items=groups %}

    {% else %}
    <p>Zadne nejsou k dispozici</p>
    {% endif %}
</section>
{% endblock %}
