@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    /* Nav */
    nav#navigation {
        position: relative;
        height: auto;
    }

    nav#navigation > ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav#navigation > ul > li.menu-item > a {
        top: 0;
    }

    nav#navigation > ul > li.title {
        border-right: none;
        border-bottom: 1px solid #69676D;
        padding: 0;
        padding-bottom: 5px;
    }

    nav#navigation > ul > li.login {
        margin-left: 20px;
    }

    nav#navigation > ul .welcome {
        display: none;
    }

    /* Main */
    main.container {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
    }

    .page-container {
        padding-left: unset;
    }


    /* Forms */
    .user-form, .model-form, form.login-form {
        width: 100%;
    }

    /* Sidebar */
    #sidebar {
        max-width: unset;
        margin-bottom: 2rem;
    }

    nav#sidebar-navigation > ul {
        text-align: center;
    }
}
