<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ section.title }}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet"/>
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/template_mobile.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

</head>
<body>
<nav id="navigation">
    <ul>
        <li class="title"><h1>Administrace</h1></li>
        {% if user.is_authenticated %}
            <li class="menu-item login"><span class="welcome">Vitejte zpět {{ user.person.name }},</span> <a href="{% url 'logout' %}">Odhlásit</a></li>
        {% else %}
            <li class="menu-item login"><a href="{% url 'login' %}">Přihlásit</a></li>
        {% endif %}
    </ul>
</nav>

<main class="container">
    <!-- Only for administrators. -->
    <section id="sidebar">
        <h2>Ovládací panel</h2>
        <nav id="sidebar-navigation">
            <ul>
                <li><a href="{% url 'admin_person_list'%}">Správa uživatelů</a></li>
                <li><a href="{% url 'admin_group_list' %}">Správa skupin</a></li>
                <li><a href="{% url 'admin_building_list' %}"> Správa budov</a></li>
                <li><a href="{% url 'admin_room_list' %}"> Správa místností</a></li>
                <li><a href="{% url 'admin_reservation_list' %}">Správa rezervací</a></li>
            </ul>
        </nav>
    </section>

    <section class="page-container">
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </section>
</main>

<footer>
    <hr/>
    <p>&copy; DFK 2021</p>
    <a href="{% url 'index' %}">Frontend</a>
</footer>
</body>
</html>
