{% extends 'administrator/base.html' %}

{% block content  %}
<nav id="toolbar">
    <ul>
        <li><a class="button green" href="{% url 'admin_person_create' %}">Přidat uživatele</a></li>
    </ul>
</nav>

<header>
    <h2>Registrovaní uživatelé</h2>
</header>

<section>
    <div class="errors">
        {% if errors %}
        {% for error in errors %}
        <p> {{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    {% if persons %}

    <table class="list persons" id="persons-datatable">

    </table>

    {% else %}
    <p>Zadne nejsou k dispozici</p>
    {% endif %}
</section>

<script>
    jQuery(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#persons-datatable'),
            "{% url 'admin_person_list_ajax' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: false,
                scrollX: false,
                language: {
                    "decimal": "",
                    "emptyTable": "Nebyla nalezena žádná data.",
                    "info": "Zobrazeno _START_ až _END_ záznamů z _TOTAL_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Zobrazit _MENU_ na stránku",
                    "loadingRecords": "Načítání záznamů...",
                    "processing": "Zpracování záznamů",
                    "search": "Vyhledat ",
                    "zeroRecords": "Nebyla nalezena žádná data",
                    "paginate": {
                        "first": "Prima",
                        "last": "Ultima",
                        "next": ">>",
                        "previous": "<<"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                }

            }, {
                // extra_data
                // ...
            },
        );
    });

</script>
{% endblock %}
