{% extends 'administrator/base.html' %}

{% block scripts %}
{% load static %}
<script src="{% static 'assets/js/multiselect.js' %}"></script>
<script>
    let rooms = new Multiselect("id_occupy", 'Zvolte místnosti');
</script>
{% endblock%}

{% block content  %}
<header>
    <h2>Úprava: {{person.name}} {{person.surname}}</h2>
</header>

<section>
    <form method="POST" class="model-form user-form" enctype="multipart/form-data">
        {% include "layouts/form-errors.html" with errors=errors %}

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <input class="button green submit" type="submit" value="Uložit změny">
    </form>
</section>
{% endblock %}
